### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
#### Exercise: #1 - Python Fundamentals
*****************************

### Step 1 - Variables and Data Types

Create the following variables:<br> 
num1=100<br>
num2=300.0<br>
str1="I would to learn data science"<br>
list1=['A', 'B', 'C']<br>
bol1=True

In [9]:
num1=100
num2=300.0
str1="I would to learn data science"
list1=['A', 'B', 'C']
bol1=True

Check the type of each variable that you created using the type() function. <br>

In [22]:
print(type(num1))
print(type(num2))
print(type(str1))
print(type(list1))
print(type(bol1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

Print the value of each variable using the print() function.

In [4]:
print(num1, num2, str1, list1, bol1)

100 300.0 I would to learn data science ['A', 'B', 'C'] True

Using one line assign the same value "100" to the following variables: num1, num2, num3.

In [28]:
num1=num2=num3=100
print(num1, num2, num3)

100 100 100

Using one line assign the following values to the following variables: num1=10, num2=20, num3=30.

In [26]:
num1, num2, num3 = 10,20,30
print(num1, num2, num3)

10 20 30

Check the size of the str1 string variable.

In [29]:
len(str1)

29

Print in upper case and also in lower case the str1 variable (tip - use the tab completion to see the list of methods).

In [33]:
print(str1.upper())
print(str1.lower())

I WOULD TO LEARN DATA SCIENCE
i would to learn data science

Print the result (True or False) of checking if the text "data" exist in str1 using the in operator.

In [34]:
'data' in str1

True

Split str1 into substrings using the split method and store the result in a list variable called list1. Print list1.

In [37]:
list1=str1.split()
print(list1)

['I', 'would', 'to', 'learn', 'data', 'science']

Define the following variables: Name='David', Phone='12345678'
and then print the following message using the the f-string formatting: "My name is David and my phone number is 12345678"

In [42]:
Name='David'
Phone='12345678'
print(f"My name is {Name} and my phone number is {Phone}")

My name is David and my phone number is 12345678

### Step 2 - Lists

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [44]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(colors)

['Red', 'Yellow', 'Green', 'Black', 'White']

Print the second color in the colors list.

In [45]:
print(colors[1])

Yellow

Sort and print the colors list in alphabetical order using the sort method.

In [47]:
colors.sort()
print(colors)

['Black', 'Green', 'Red', 'White', 'Yellow']

Add the the "Blue" color to the colors list and print the updated list.

In [48]:
colors.append('Blue')
print(colors)

['Black', 'Green', 'Red', 'White', 'Yellow', 'Blue']

Remove the color 'Green' from the list by using the value and print the updated list.

In [49]:
colors.remove('Green')
print(colors)

['Black', 'Red', 'White', 'Yellow', 'Blue']

Check the size of a list.

In [50]:
len(colors)

5

Create the following two lists: list1 = ['A','B','C'], list2 = ['D','E','F','G'] and then concatenate the two lists into list3 by using the + operator. Print list3.

In [51]:
list1 = ['A','B','C']
list2 = ['D','E','F','G']
list3 = list1 + list2
print(list3)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Print items 'B', 'C' and 'D' from list3 using the slicing notation.

In [54]:
print(list3[1:4])

['B', 'C', 'D']

Print items 'C' until the end of list3 using the slicing notation.

In [55]:
print(list3[2:])

['C', 'D', 'E', 'F', 'G']

Copy list3 into a list4 using the slicing notation and print list4.

In [59]:
list4 = list3[:]
print(list4)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Create the following tuple variable: tuple1=(1,2,3,4,5) and print it.

In [60]:
tuple1=(1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

Try to change the first item in the tuple list to the number 7.

In [61]:
tuple1[0]=7

TypeError: 'tuple' object does not support item assignment

### Step 3 - IF and For-Loop Statements

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [1]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(colors)

['Red', 'Yellow', 'Green', 'Black', 'White']

Print "Yes" if the "Black" value inside the colors list.

In [2]:
if 'Black' in colors:
    print('Yes')

Yes

Print "Yes" if the "Black" value inside the colors list and the "Pink" value is not inside the colors list, otherwise print "No".

In [4]:
if ('Black' in colors) and ('Pink' not in colors):
    print('Yes')
else:
    print('No')

Yes

Create the following variable: num1=50. Print 'More than 100' if the num1>=100. Print 'More than 40' if num1>=40.

In [69]:
num1=50
if num1>=100:
    print('More than 100')
elif num1>=40:
    print('More than 40')

More than 40

Scan the colors list and per each item in the list, print the value and also the first letter of the color name (for example: 'Red, R')

In [73]:
for color in colors:
    print(color, ',', color[0])

Red , R
Yellow , Y
Green , G
Black , B
White , W

Print the numbers 1 to 30 using the range() function.

In [75]:
for num in range(30):
    print(num+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

Print the calculation of multiplying the numbers 10,15,20 with the numbers 1,2,3,4,5,6,7,8,9,10 (tip - use nested loops and the range function).

In [85]:
for num1 in range(10,21,5):
    for num2 in range(1,11):
        print(num1*num2)
    print('\n')

10
20
30
40
50
60
70
80
90
100


15
30
45
60
75
90
105
120
135
150


20
40
60
80
100
120
140
160
180
200

### Step 4 - Functions

Define a function called check_color that is getting as input a list of colors and also a color value. If the color value exist in the list it will return 'Yes', otherwise it will return 'No'.

In [87]:
def check_color(colors, color):
    if color in colors:
        return 'Yes'
    else:
        return 'No'

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and then call the function check_color to check if the 'Green' color in that list.

In [89]:
colors = ['Red', 'Yellow', 'Green', 'Black', 'White']
print(check_color(colors,'Green'))

Yes

Call the function check_color to check if the 'Pink' color in that list but this time while passing a copy of that list (tip - use the slice notation).

In [90]:
print(check_color(colors[:],'Pink'))

No

Add a docstring comment to the check_color function definion and then ask Python to display information about the function (tip - use the ? mark).

In [91]:
def check_color(colors, color):
    """ This function will check if a specific color is in a list"""
    if color in colors:
        return 'Yes'
    else:
        return 'No'
?check_color

Signature: check_color(colors, color)
Docstring: This function will check if a specific color is in a list
File:      c:\users\idang\ml-course-level-2\<ipython-input-91-82f3dfb33572>
Type:      function

### Step 5 - Dictionaries

Create the following dictionaries friend1, friend2, friend3 with the following info:<br>friend1 with 'Name':'David', 'Age':34, 'Phone':556677.<br>friend2 with 'Name':'Marta', 'Age':29, 'Phone':223344.<br>friend3 with 'Name':'Mark', 'Age':45, 'Phone':333444.

In [140]:
friend1={'Name':'David', 'Age':34, 'Phone':556677}
friend2={'Name':'Marta', 'Age':29, 'Phone':223344}
friend3={'Name':'Mark', 'Age':45, 'Phone':333444}

Print the 'Name' and 'Age' value for friend1.

In [105]:
print(friend1['Name'], friend1['Age'])

David 34

Print the complete friend2 dictionary.

In [106]:
print(friend2)

{'Name': 'Marta', 'Age': 29, 'Phone': 223344}

Add the following information to friend1, friend2, friend3: David 'Birthday' is '3.6', Marth 'Birthday' is '22.4', Mark 'Birthday' is '20.1'.

In [130]:
friend1['Birthday']='3.6'
friend2['Birthday']='22.4'
friend3['Birthday']='20.1'

Print friend1, friend2, friend3.

In [132]:
print(friend1)
print(friend2)
print(friend3)

{'Name': 'David', 'Age': 34, 'Phone': 556677, 'Birthday': '3.6'}
{'Name': 'Marta', 'Age': 29, 'Phone': 223344, 'Birthday': '22.4'}
{'Name': 'Mark', 'Age': 45, 'Phone': 333444, 'Birthday': '20.1'}

Update friend2 phone number to: 112233 and print friend2.

In [133]:
friend2['Phone']=112233
friend2

{'Name': 'Marta', 'Age': 29, 'Phone': 112233, 'Birthday': '22.4'}

Remove 'Phone' from friend1 and print the updated dictionaries.

In [141]:
del friend1['Phone']
friend1

{'Name': 'David', 'Age': 34}

Create an empty list variable called myFriends.

In [138]:
myFriends=[]

Add the three dictionaries: friend1, friend2, friend3 to the myFriends list.

In [142]:
myFriends.append(friend1)
myFriends.append(friend2)
myFriends.append(friend3)

Print the first item in the myFriends list and then print just the 'Name' of the second item in the list."

In [143]:
print(myFriends[0])
print(myFriends[1]['Name'])

{'Name': 'David', 'Age': 34}
Marta

Loop through the myFriends list and check which friend is the oldest and print his/her name.

In [144]:
oldest=0
for friend in myFriends:
    if friend['Age']>oldest:
        oldest=friend['Age']
        name=friend['Name']
print(name)

Mark

### Step 6 - Classes, Objects, Attributes, and Methods

Define a new class called: Book with the following definition: 
1. Attributes to be initalized during a new object creation: name, author, pages, price.
2. One method called update_price that will get as a parameter an updated price and adjust the object price attribute.

In [146]:
class Book:
    def __init__(self, name, author, pages, price):
        self.name=name
        self.author=author
        self.pages=pages
        self.price=price
    def update_price(self,updated_price):
        self.price=updated_price

Create two objects from the new class: book1, book2 with the following info:
1. book1: 'Python for Begineers', 'David', 240, 99
2. book2: 'Machine Learning for Begineers', 'Marta',320, 199

In [147]:
book1=Book('Python for Begineers', 'David', 240, 99)
book2=Book('Machine Learning for Begineers', 'Marta',320, 199)

Print the name and price of book1.

In [148]:
print(book1.name,' ', book1.price)

Python for Begineers   99

Update the price of book1 to 79 using the object method and print the name and price again.

In [151]:
book1.update_price(79)
print(book1.name,' ', book1.price)

Python for Begineers   79

### Step 7 - Importing Modules

Import the following modules:
1. random module with alias rd
2. math module 
3. statistics module with alias stas

In [153]:
import random as rd
import math 
import statistics as stas

Generate 10 random integer numbers between 0 to 20 and store them in a list variable called myrandom. Print the new list.

In [158]:
myrandom=[]
for num in range(10):
    myrandom.append(rd.randint(0,20))
print(myrandom)

[18, 15, 11, 19, 8, 4, 9, 19, 6, 13]

Calculate and print the following calculation : sin(0.5*pi) * (2^8).

In [160]:
print(math.sin(0.5*math.pi)*(math.pow(2,8)))

256.0

Print the arithmetic mean and the standard deviation of the numbers in the myrandom list.

In [162]:
print(f"mean is {stas.mean(myrandom)}, and standard deviation is {stas.stdev(myrandom)}")

mean is 12.2, and standard deviation is 5.473166867139678

### End of document
************************